/* * MAIN * */

.flex {
    display: flex;
}

.grid {
    display: -ms-grid;
    display: grid;
}

.column {
    flex-direction: column;
}

.container {
    width: 85%;
    margin: 0 auto;
    /* max-width: 1000px; */

}

.box-white {
    background: #004D94;
    width: auto;
}

/* * COLORS * */

.color--blue {
    color: #004D94;
}

.color--black {
    color: black;
}

.color--white {
    color: white;
}

/* * BACKGROUND STYLING * */
.bg-white {
    background: #FFF;
}

.bg-img {
    background: url("/images/bg.png");
}


/* * BACKGROUND POSITIONING * */

.bg--top {
    padding: 4rem 0 0 0;
}

.bg--center {
    padding: 4rem 0;
    align-content: center;
}

.bg--center-double {
    padding: 8em 0;
    align-content: center;
}

.bg--bottom {
    padding: 0 0 4rem 0;
}


/* * ITEMS POSITIONING * */

.item--center {
    justify-content: center;
}

.item--right {
    justify-content: right;
}

.item--left {
    justify-content: left;
}


/* * PADDING SIZE * */
.bottom-low {
    margin: inherit;
}

/* * TEXTS * */

.text-align--center {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-size: 25px;
}

h3 {
    font-family:'Source Code Pro',serif;
    font-size: 20px;
}

h4,
p {
    font-family: "Inter", serif;
}


/* * IMAGE * */

.avatar {
    padding: 5px;
    width: 20%;
    height: 20%;
}

/* * NAVIGATION BAR * */

.Navbar {
    display: flex;
    font-family: "Inter", serif;
    align-items: center;
    margin-left: 5%;
}
/* * INTRO PAGE * */

.contents {
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.social_icons {
    gap: 0.25em;
}
