/* * MAIN * */

.flex {
    display: flex;
}

.grid {
    display: -ms-grid;
    display: grid;
}

.column {
    flex-direction: column;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.box {
    background-color: #FFF;
    border: #1E272D solid 1px;
    border-radius: 16px;
    box-shadow: 0 2px 2px rgba(39, 39, 39, 0.25);
}

.box-white {
    background: #ffffff;
    width: auto;
}

/* * COLORS * */

.color--orange {
    color: #FF9900;
}

.color--black {
    color: #1E272D;
}

.color--white {
    color: white;
}


/* * BACKGROUND STYLING * */
.bg-white {
    background: #FFF;
}

.bg-img {
    background-color: #1E272D;
    background-image: url("/images/bg-img.png"); 
}

/* * BACKGROUND POSITIONING * */

.bg--top {
    padding: 4rem 0 0 0;
}

.bg--center {
    padding: 4rem 0;
    align-content: center;
}

.bg--center-double {
    padding: 8em 0;
    align-content: center;
}

.bg--bottom {
    padding: 0 0 4rem 0;
}

/* FLEX */

.flex--col{
    flex-direction: column;
}

.flex--row{
    flex-direction: row;
}

/* * ITEMS POSITIONING * */

.item--center {
    justify-content: center;
}

.item--right {
    justify-content: right;
}

.item--left {
    justify-content: left;
}


/* * PADDING SIZE * */
.bottom-low {
    margin: inherit;
}

.top-high {
    padding-top: 8em;
}

.bottom-high {
    padding-bottom: 8em;
}

/* * TEXTS * */

.text-align--center {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-size: 25px;
}

h3 {
    font-family:'Source Code Pro',serif;
    font-size: 20px;
}

h4,
p {
    font-family: "Inter", serif;
}

.par--center {
    justify-content: center;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}


/* * IMAGE * */

.avatar {
    padding: 5px;
    width: 25%;
    height: 25%;
}

/* * NAVIGATION BAR * */

.Navbar {
    display: flex;
    font-family: "Monsterrat", sans-serif;
    align-items: center;
    margin-left: 5%;
}

.menu_burger {
    image-rendering: url('/images/others/menu__icon.svg')
}

.flex--nav-icons {
    justify-content: space-between;
    align-items: center;
}

/* * INTRO PAGE * */

.contents {
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

/* SOCIAL ICONS */
.social-icons--display{
    font-size: 25px;
    gap:0.5em;
    list-style: none;
    padding-left: 10px;
}
.social-icons{
    color: #FFF;
    text-decoration: none;
}

.social-icons:hover{
    color: #FF9900;
}

/* * PROJECT GALLERY * */

.project {
    padding-bottom: 5em;
}
.project--gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
}

/* NAVBAR */

.navbar-items {
    font-family: 'Source Code Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #1E272D;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    width: 70vw;
    justify-content: end;
    margin-right: 2em;
}

.nav-links {
    color:#FFF;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.nav-links:hover{
    background-color:#FF9900;
    color: #1E272D;
    border-radius: 20px;
    transition: all 0.2s ease-out;
    /* Padding */
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-logo{
    color:#FFF;
}
.navbar-logo:hover{
    color: #FF9900;

}
.fa-bars{
    color:#ffffff;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

/* BUTTON */

.button{
    padding: 8px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.button:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border-radius: 15px;
    background: #FF9900;
    color: #FFF;
    transition: 250ms;
}

.button--primary{
    background-color: #1E272D;
}

.button--outline{
    background-color: transparent;
    color:#FFF;
    padding: 8px 20px;
    border-radius: 15px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.button--medium{
    padding: 8px 20px;
    border-radius: 15px;
    font-size: 18px;
    color: #FFF;
}

.button-large{
    padding: 12px 20px;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
}

@media screen and (max-width:960px) {
    /* NAVBAR ITEMS */

    .navbar-items{
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background-color: #1E272D;
        left: 0%;
        opacity: 1;
        transition: all 0.s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        color: #FFF;
        padding: 20px;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #FF9900;
        border-radius: 0;
    }
    .navbar-logo{
        color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-bars{
        color: white;
    }
    .fa-times{
        color: #FFF;
        font-size: 2rem;
    }

    /* LANDING PAGE */
    .contents{
        flex-direction: column;
        gap: 0em;
    }
    
    .avatar{
        flex-direction: column;
        padding: 0px;
        width: 35%;
        height: 35%;
    }
    .bg--center{
        padding: 2rem;
    }
    .align-center{
        text-align: center;
        justify-content: center;    
    }
    .social_icons{
        flex-direction: row;
    }

}